{% load _3cassurance_tags wagtailcore_tags i18n static %}

<div class="logo">
    <a href="{% home_url %}">
        <div class="row">
            <div class="col-md-5">
                <img src="{% static "images/3ca_logo.png" %}" alt="3CA">
            </div>
            <div class="col-md-7">
                <span>3CA</span>
                <br>
                <strong>
                    {% trans "ALL<br>BRANCHES<br>INSURANCES" %}
                </strong>
            </div>
        </div>
    </a>
</div>
