{% extends "_3caassurance/base.html" %}

{% load wagtailcore_tags i18n static _3cassurance_tags wagtailimages_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="inner-head overlap">
        <div class="container">
            <div class="inner-content">
                <span><i class="fa fa-asterisk"></i></span>
                <h2>{% trans "ABOUT US" %}</h2>
                <ul>
                    <li><a href="/{{ LANGUAGE_CODE }}/" title="">{% trans "HOME" %}</a></li>
                    <li><a href="/{{ LANGUAGE_CODE }}/about-us" title="">{% trans "ABOUT US" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="block">
        <div class="container">
            <div class="col-md-12">
                <div class="heading4">
                    <h2>{% trans "OUR JOB" %}</h2>
                </div>
                <div class="who-we-are-sec">
                    <p>
                        {% dynamic_trans self 'company_desc' as company_desc %}
                        {{ company_desc|richtext }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="container">
            <div class="col-md-12">
                <div class="heading4">
                    <h2>{% trans "OUR TEAM" %}</h2>
                </div>
                <div class="team-sec">
                    <div class="row">
                        {% for employee in self.employees %}
                            <div class="col-md-4">
                                <div class="team-box">
                                    {% image employee.value.image original as picture %}
                                    <img alt="employee.value.employee_name" src="{{ picture.url }}">
                                    <div class="team-info">
                                        {% first_name employee.value.employee_name as employee_first_name %}
                                        {% surname employee.value.employee_name as employee_surname %}
                                        <h3>{{employee_first_name}} <i>{{employee_surname}}</i></h3>
                                        <i>{% dynamic_trans employee.value "position" %}</i>
                                        <p>
                                            {% dynamic_trans employee.value "position_description" %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}