{% extends "_3caassurance/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% if self.products %}
        <section class="block">
            <div class="container">
                {% for product in self.products %}
                    <div class="cool-features {% if forloop.counter|divisibleby:2 %}flip{% endif %}">
                        <div class="prdct-mockup">
                            {% image product.value.image width-800 as theimage %}
                            <img src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}"
                                 alt="{{ theimage.alt }}"/>
                        </div>
                        <i class="fa fa-arrows-h"></i>
                        <div class="prdct-mockup-info">
                            {{ product.value.caption|richtext }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
